html,
body {
  height: 100%;
}

body {
  font-family: Lato;
}

.joystickContainer {
  position: absolute;
}

.eStopContainer {
  position: absolute;
}

.toolBar {
  display: block;
  position: absolute;
  background: #555555;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#eStopButton:disabled,
#eStopButton[disabled] {
  border: 1px solid #777777;
  opacity: 50%;
}

.joystick {
  position: absolute;
}

#innerCircle {
  position: absolute;
  border-radius: 50%;
  opacity: 30%;
}

#outerCircle {
  position: absolute;
  border-radius: 50%;
  opacity: 30%;
}

#ledCircle {
  position: absolute;
  border-radius: 50%;
  opacity: 50%;
  -webkit-mask: radial-gradient(transparent 65%, black 66%);
  mask: radial-gradient(transparent 65%, black 66%);
}